# Dependencies
node_modules/
jspm_packages/
.pnp
.pnp.js

# Production
dist/
build/

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.sample

# OS Metadata
.DS_Store
Thumbs.db
*.swp
*.bak
*.tmp

# IDE / Editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Prisma
/prisma/migrations/
/prisma/dev.db
/prisma/dev.db-journal

# TypeScript
*.tsbuildinfo

# Coverage
coverage/
.nyc_output/
